nav{
    text-align: center;
    margin-top: 39px;
}
a{
    text-decoration: none;
    color: dimgray;
    margin-left: 58px;
}
img{
    width: 1280px;
    height: 790px;
    left: 3px;
    margin-top: 39px;
}
h1{
    text-align: center;
    display: block;
    margin-top: 47px;
    font-size: 22px;
    letter-spacing: 3.3px;
}
.article1{
     text-align: center;
     color: #373737;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 2.4px;
 }
.article2{
    text-align: center;
    color: #373737;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 2.4px;
}
button{
    width: 195px;
    height: 54px;
    background-color: dimgrey;
    color: white;
    text-align: center;
    margin-left: 543px;
    margin-top: 23px;
}
footer{
margin-left: 692px;
    margin-top: 65px;
    margin-bottom: 55px;
    font-size: 16px;
}