.main{
    font-family: Ubuntu, sans-serif;
}
.container-background {
    background-image: url("../img/background.png");
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    height: 760px;
}
header{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
}
.journey-text{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 81px;
    margin-right: 650px;
    margin-top: 19px;
    margin-bottom: 19px;
    display: inline-block;
    width: 157px;
}

.journey-text:hover{color: #3CB878;
    transition: ease 200ms
}
/*--------------------------SPRITE----------------------------*/
.iconic-forum-1, .iconic-journey-1, .iconic-caledar-1 {
    display:inline-block;
    background: url('../img/sprite-header.png') no-repeat;
}

.iconic-forum-1 {
    background-position: -0px -0px;
    width: 28px;
    height: 20px;
}
.iconic-forum-1:hover {
    background-position: -0px -20px;
    width: 28px;
    height: 20px;
}
.iconic-journey-1 {
    background-position: -0px -40px;
    width: 20px;
    height: 20px;
}
.iconic-journey-1:hover {
    background-position: -0px -60px; width: 20px;
    height: 20px;
}
.iconic-caledar-1 {
    background-position: -0px -80px;
    width: 19px;
    height: 19px;
}
.iconic-caledar-1:hover {
    background-position: -0px -99px;
    width: 19px;
    height: 19px;
}
.iconic-forum-1, .iconic-journey-1, .iconic-caledar-1{
    padding-right: 28px;
}
/*--------------------------SPRITE----------------------------*/
.welcome-enter{
    font-size: 14px;
    color: #FFFFFF;
}
.log {
    color: #FFFFFF;
    padding-right: 12px;
    font-size: 14px;
}
.sign{
    color: #FFFFFF;
    font-size: 14px;
}
.log:hover{
    color: #3CB878;
    transition: ease 200ms
}
.sign:hover{
    color: #3CB878;
    transition: ease 200ms
}
/*----------------------------Modal-Window----------------------*/
.form-container{
    calc(100vh - 60px);
}
.modal-window{
    background-color: #FFFFFF;
    width: 444px;
    height: 584px;
    position: absolute;
    top: 61%;
    transform: translateY(-50%);
    left: 34%;

}
.modal-sign{
    font-size: 20px;
    padding-top: 30px;
    display: inline-block;

}
.modal-sign::before{
    content: "";
    display: inline-block;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
    background: #3CB878;
    margin-right: 43px;
}
.modal-log{
    color: #3CB878;
    font-size: 14px;
    float: right;
    padding-top: 30px;
    padding-right: 59px;
}

.facebook-link{
    background-color: #305DB8;
    color: #FFFFFF;
    padding: 11px 20px 12px 21px;
    border-radius: 5%;
    margin-top: 19px;
    display: inline-block;
    margin-right: 4px;
    margin-left: 61px;
}
.fa-facebook-f{font-size: 20px;}

.fa-facebook-f::after{
   content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-left: 17px;
    margin-right: 20px;
    vertical-align: middle;
}
.google-link{
    background-color: #DF4A32;
    color: #FFFFFF;
    padding: 16px 30px 17px 15px;
    border-radius: 5%;
}
.fa-google-plus-g{font-size: 20px;}

.fa-google-plus-g::after{
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    vertical-align: middle;
    opacity: 0.1;
    margin-left: 9px;
    margin-right: 27px;
}
.alternative{
    color: #848484;
    font-size: 14px;
    padding-top: 21px;
    display: inline-block;
    margin-right: 14px;
    margin-left: 14px;
}
.alternative::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 1px;
    width: 125px;
    background: #ebebeb;
    margin-right: 13px;
    margin-left: 61px;

}
.alternative::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 1px;
    width: 125px;
    background: #ebebeb;
    margin-left: 14px;
}
/*----------------------------FORM----------------------*/
.form-data{
    padding-top: 16px;
}
.input{
    width: 322px;
    height: 46px;
    margin-left: 62px;
    margin-bottom: 9px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    outline: none;
    padding-left: 18px;
}
.input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    transition:  200ms ease;
    transform: scale(1.02);
}

.container{
    margin-left: 62px;
    display: block;
    position: relative;
}
.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 7px;
    top: 0;
    width: 5px;
    height: 13.5px;
    border: solid #3CB878;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    transform: rotate(43deg);
}
.agreement{
    position: absolute;
    left: 30px;
}
.terms-conditions{ color: #3CB878}
.create-button{
    background-color: #3CB878;
    color: white;
    font-size: 16px;
    padding: 11px 105px;
    margin-top: 40px;
    margin-left: 62px;
    border: none;
    border-radius: 4%;
}

/*----------------------------FORM----------------------*/

/*----------------------------Modal-Window----------------------*/





