.green{
    outline-color: green;
}
.inner-color{
    color: green;
}
.invalid-data{
    background-color: red;
    border-color: red;
}
.invalid-text {
    display: block;
}
.hide{
    display: none;
}
.green-bg-input{
    background-color: green;
}