.radma-page{
    width: 1480px;

}
.logo-radma-Ra-letters{
    color: black;
}
.logo-radma-letters{
    color: aqua;
}
.logo-radma{
    text-decoration: none;
    font-size: 75px;
    margin: 61px 0 0 98px;
}
.navigation-bar{
    text-align: center;
    background-color: #35444F;
    width: 1282px;
    height: 72px;
    display: inline-block;
    margin: 38px 0 0 98px;
    border: none;
}
.navbutton{
    color: white;
    text-decoration: none;
    margin-right: 76px;
    display: inline-block;
    padding: 25px 0 24px 0;
    font-size: 24px;
}
.navbutton-central{
    color: white;
    text-decoration: none;
    margin-right: 76px;
    display: inline-block;
    font-size: 24px;
    padding: 25px 38px 22px 35px;
}
.button-radma{
    width:153px;
    height: 72px;
    background-color: #222F3A;
    margin-right: 38px;
    border-bottom: none;
    border-top: none;
}
.left-menu{
    display: inline-block;
    width: 344px;
    border: 1px solid #000000;
    margin-left: 100px;
    margin-top: 50px;
    vertical-align: top;
}
.text-link{
    text-decoration: none;
    color: #485863;
    font-size: 26.9932px;
    padding-left: 44px;
}
.line-link{
    line-height: 78px;
    margin-top: 0;
    margin-bottom: 0;
}
.line-link:hover{
    background-color: #DBDBDB;
}
.text-link:hover{
    margin-left: 30px;
    transition: 0.5s;
}
.sheep-img{
    display: inline-block;
    width: 885px;
    margin-left: 50px;
    margin-top: 50px;
    border: 1px solid #000000;
}
.sheep-logo{
    padding: 75px 268px 73px 297px;
    overflow: hidden;

}
.sheep-logo:hover{
    transition: 1s;
    transform: scale(1.2);
}

.ipsum-article{
    margin: 42px 99px 0 496px;
    display: inline-block;
    color: #2C2C2C;

}
.bottom-bar{
    width: 1280px;
    display: inline-block;
    background-color: rgba(99, 105, 110, 0.48);
    margin: 51px auto 30px 100px;
}
.bottom-link{
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    margin-right: 35px;

}
.bottom-link:hover{
    border-bottom: 1px solid;
    color: #3181A6;
}
.bottom-text{
    margin-left: 43px;
    margin-right: 100px;
    display: inline-block;

}
.сopy-right{
    font-size: 24px;
    color: #010101;
}