body{
    font-family: Arimo;
}
table{
    border: 27px solid #3A4965;
    text-align: center;
}
.data-cell:nth-child(even){
    background-color: #E3E3E3;
}
td:not(:first-child){
    border-top: 1px solid lightgrey;
}
th{
    border-bottom: 10px solid #3A4965;
}
td{
    vertical-align: middle;
}
.pricing-plan{
    font-size: 20px;
    color: #484848;
    text-transform: uppercase;
    padding: 32px 23px;
}
.choice{
    font-size: 14px;
}
.heading{
    width: 160px;
    text-transform: uppercase;
    color: #848484;
}
.data-cell{
    color: #484848;
    text-transform: uppercase;
}
.standard{
    padding-top: 13px;
    background-color: #89C331;
}
.ultimate{
    padding-top: 13px;
    background-color: #F04A56;
}
.premium{
    padding-top: 13px;
    background-color: #20807C;
}
.conditions{
    padding-top: 13px;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.price{
    color: white;
    font-weight: bold;
    font-size: 36px;
    display: block;
    padding-top: 8px;
}
sup{
    font-size: 18px;
    vertical-align: top;
}
.price:after{
    content: "per month";
    font-size: 14px;
    vertical-align: middle;
}
.push{
    display: inline-block;
    margin-top: 9px;
    margin-bottom: 34px;
    background-color: #414141;
    color: white;
    border: none;
    border-bottom: 4px solid #343434;
    border-radius: 3px;
    padding: 13px 21px 7px 23px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.push:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.1);
    transition: 200ms ease;
}