body{
    font-family: Roboto Arial sans-serif;
}
.main{
    background-image: url("../img/background 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 155px;
    padding-right: 152px;
    padding-top: 49px;

}
section{
    width: 1064px;
}
.link-cathedral{
    display: inline-block;
}
.link-cathedral:hover> .logo-cathedral{
    background-image: url("../img/logo 4.png");
}
.link-cathedral:hover>.milan{
    color: #F26522;

}
.link-cathedral:hover>.holiday{
    color: #F26522;

}
.cathedral{
    float: left;
}
.logo-cathedral {
    background-image: url("../img/logo 3.png");
    width: 46px;
    height: 44px;
    float: left;
}

.milan{
    font-weight: bold;
    text-transform: uppercase;
    font-size:29px;
    line-height: 21px;
    font-style: normal;
    float: left;
    padding-left: 15px;
    color: white;
    padding-bottom: 7px;
}
.holiday{
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 15px;
    color: white;

}
.container-contacts{
    color: white;
    font-style: normal;
    font-size: 18px;
    float: right;
}
.email{
    margin-bottom: 17px;
    color: white;
    text-decoration: none;
}
.email:hover{
    color: #F26522;;
}
.phone-number{
    float: right;
    color: white;
    text-decoration: none;
    padding-top: 17px;
}
.phone-number:hover{
    color: #F26522;;
}
.photo{
    padding-top: 40px;
}
.photo::after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
}
.photo-link{
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
}
.shopping{
    background-image: url("../img/Layer 21.png");
    width: 307px;
    height: 200px;
    border-top: 2px white solid;
    border-right: 2px white solid;

}
.sightseeing{
    background-image: url("../img/Layer 22.png");
    width: 308px;
    height: 200px;
    margin-right: 68px;
    margin-left: 69px;
    border-top: 2px white solid;
    border-right: 2px white solid;

}
.sightseeing:hover> .link-bar {
    transition: 0.3s;
    opacity: 100%;
}
.food{
    background-image: url("../img/Layer 23.png");
    width: 307px;
    height: 200px;
    border-top: 2px white solid;
    border-right: 2px white solid;
    box-sizing: border-box;
    box-shadow: 0 17px 24px #000000;
}
.bars{
    background-image: url("../img/Layer 24.png");
    width: 307px;
    height: 200px;
    border-top: 2px white solid;
    border-right: 2px white solid;
}

.art{
    background-image: url("../img/Layer 25.png");
    width: 307px;
    height: 201px;
    margin-right: 68px;
    margin-left: 68px;
    border-top: 2px white solid;
    border-right: 2px white solid;
}

.walking{
    background-image: url("../img/Layer 26.png");
    width: 308px;
    height: 201px;
    border-top: 2px white solid;
    border-right: 2px white solid;
}
.photo-desc{
    font-size: 18px;
    padding-top: 18.5px;
    padding-bottom: 59.5px;
}
.photo-desc:hover{
    color: #F26522;
}
.link-bar{
    height: 63px;
    background-color: #F26522;
    position: absolute;
    margin-top: 137px;
    padding-left: 21px;
    opacity: 0;
}
.from{
    font-size: 10px;
    padding-top: 11px;
    display: block;
    text-align: left;
}
.euro{
    font-size: 20px;
    display: inline-block;
    padding-top: 6px;
    text-align: left;
}
.details{
    font-size: 14px;
    padding-left: 128px;
    padding-right: 24px;
}
.symbol{
    padding-right: 18px;
}
footer{
    padding-top: 58px;
    color: white;
    padding-bottom: 15px;
}
.copyright {
    text-align: center;
}