.perspective{
    perspective: 3px;
    overflow: hidden;
    height: 100vh;
    background-color: black;
}
.text-wrap{
    height: 100vh;
    transform: translate3d(0px, 500px, 2px) rotate3d(1, 0, 0, 0.5deg);
}
.text-container{
    animation-name: sliding;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.star-text{
    color: gold;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.heading{
    margin-bottom: 30px;
}
@keyframes sliding {
    from{
        transform: translate(0,430px);
    }
    to{
        transform: translate(0,-3000px);
    }
}
audio{
    outline: none;
}