body{
    font-family: Arimo;
}

table{
    text-align: center;
    border: 25px solid #3A4965;;
}


.table-header-pricing{

    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #484848;
    padding: 53px 42px 48px;

}
.price-plan{
    font-size: 30px;

}

.table-header{
    vertical-align: middle;
    text-transform: uppercase;
    color: white;

}
.standard{
    background-color: #89C331;
    font-size: 24px;
    padding-left: 75px ;
    padding-right: 74px;

}
.ultimate {
    background-color: #F04A56;
    font-size: 30px;
    padding-left: 67px;
    padding-right: 69px;
}
.premium{
    background-color: #20807C;
    font-size: 24px;
    padding-left: 77px;
    padding-right: 77px;
}

td {
    border: 2px solid lightgrey;
    border-top: none;
    border-bottom: none;
    vertical-align: middle;
    color: #484848;
    text-transform: uppercase;

 }
.data-cell-price{
    font-size: 60px;
    font-weight: bold;
    vertical-align: bottom;
    position: relative;
    text-align: left;
    padding-left: 35px;
    padding-top: 22px;
}

.data-cell-price::after{
    content: ". 99";
    font-size: 24px;
    position: absolute;
    top: 14px;

}
.per-time{
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 50px;
    left: 136px;
}
.data-cell{
    height: 72px;

}
.grey{
    background-color: #F2F2F2;
}
.dimgrey{
    background-color: #E3E3E3;
}
.awesome{
    font-size: 20px;
    color: #848484;
    padding-right: 12px;
}
.contact-us{
    height: 109px;
    background-color: #DDDDDD;
}
.push{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    border-bottom: 10px solid #404040;
}

.push:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 200ms ease;
    border-left: 3px solid dimgrey;
    border-top: 3px solid dimgrey;

}
.contact-button{
    background-color: #484848;
    border-bottom: 10px solid #404040;
    padding: 15px 45px 11px;
}
.buy-standart{
    background-color: #EEEEEE;
}
.standard-button{
    padding: 15px 56px 9px ;
    background-color: #89C331;
    border-bottom: 10px solid #79B027;
}
.buy-ultimate{
    background-color: #F4F4F4;
}
.ultimate-button{
    padding: 15px 56px 9px;
    background-color: #F04A56;
    border-bottom: 10px solid #DF3A46;
}
.buy-premium{
    background-color: #EEEEEE;
}
.premium-button{
    padding: 15px 56px 9px ;
    background-color: #20807C;
    border-bottom: 10px solid #16736F;
}

