body{
    font-family: 'Open Sans', sans-serif;
}
                                     /*HOMEWORK 14js*/
.site-navigation{
    display: flex;
    flex-direction: column;
}
.site-nav-link{
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 11px;
}
.inner {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 50px;
}
.btn-toggle{
    background-color: #89CA62;
    width: 172px;
    height: 55px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    margin: 10px auto auto 550px;
    cursor: pointer;
}
#button {
    display: inline-block;
    background-color: #14B9D5;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;

}
#button p{
    padding-top: 17px;
    color: white;
    font-weight: 600;
}
.show {
    opacity: 0;
    visibility: hidden;
}
#button:hover {
    cursor: pointer;
    background-color: #89CA62;
}
                                        /*HOMEWORK 14js*/

/*--------------------------------------NAVBAR----------------------------*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}
.logo-architect{
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.logo-text{
    vertical-align: text-top;
}
.heaader-logo{
    margin: auto 25px;
}
.nav-links{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}
.nav-links:not(:last-child){
    margin-right: 20px;
}
.nav-search{
    font-size: 17px;
    color: white;
    background-color: #000000;
    border:none;
    padding: 25px;
    outline: none;
}
.design-architecture:after {
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 161px;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

/*--------------------------------------FIRST-SCREEN----------------------------*/
.design-architecture{
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 374px;
}
h1{
    font-size: 27px;
    margin-bottom: 45px;
}
.push{
    border: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    outline: none;
}
.push:first-child{
    background-color: #89CA62;
    padding: 17px 21px;
    margin-right: 20px;
}
.push:nth-child(2){
    background-color: #14B9D5;
    padding: 17px 31px;
}
/*--------------------------------------POPULAR-POSTS----------------------------*/
.popular-posts{
    background-color: #F2F2F2;
}
h2{
    color: #18B4CF;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-posts{
    display: flex;
    justify-content: space-evenly;
}
.desc-text{
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
}
.image-post{
    margin-top: 30px;
}
/*--------------------------------------POPULAR-CLIENTS----------------------------*/
.container-clients{
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 595px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.clients-text{
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    grid-column: 2/4;
    align-self: flex-end;
}
.blue-line{
    background-color: #18B4CF;
    height: 3px;
    width: 60px;
    border: none;
    grid-row: 2/3;
    grid-column: 2/4;
    align-self: center;
}
.national-post{
    height: 28px;
    width: 207px;
    background: url("../img/css_sprites.png") -0 -152px;
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: flex-end;
}
.dryme{
    width: 135px;
    height: 49px;
    background: url(../img/css_sprites.png) -0 -103px;
    grid-row: 3/4;
    grid-column: 2/3;
}
.house-home{
    width: 232px;
    height: 51px;
    background: url(../img/css_sprites.png) -0 -0;
    grid-row: 3/4;
    grid-column: 3/4;
    justify-self: flex-start;
}
.journy{
    width: 141px;
    height: 52px;
    background: url(../img/css_sprites.png) -0 -51px;
    grid-row: 3/4;
    grid-column: 4/5;
    justify-self: flex-start;
}
/*--------------------------------------TOP-RATED----------------------------*/
.top-rated{
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    overflow: hidden;
}
/*--------------------------------------HOT-NEWS----------------------------*/
.hot-news{
    padding-left: 4%;
    padding-right: 4%;
    height: 1574px;
}
.container-hotels{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 259px;
    grid-row-gap: 60px;
    grid-column-gap: 35px;
}
.hotel-img{
    width: 100%;
    height: 100%;
}
.desc-hotel-text{
    font-size: 14px;
    color: #5B6469;
    font-weight: 600;
    text-align: right;
    padding-right: 25px;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.hotel-heading{
    font-size: 18px;
    color: #353A3D;
    font-weight: bold;
    display: block;
    padding-bottom: 18px;
}
.prophecy, .king-shroud{
    padding-top: 41px;
}
.nebula, .prism{
    text-align: center;
    padding-top: 13px;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.container-prophecy{
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(2, 1fr);
}
.container-nebula{
    grid-column: 4/5;
}
.container-western-pyramid{
    grid-column: 1/3;
    grid-row: 2/3;
}
.container-grand-meodow{
    grid-row: 2/3;
    grid-column: 3/5;
}
.container-wonderlust{
    grid-row: 3;
    grid-column: 1/3;
}
.container-twin{
    grid-row: 3/4;
    grid-column: 3/5;
}
.container-prism{
    grid-column: 1/2;
    grid-row: 4/5;
}
.container-king-shroud{
    display: grid;
    grid-column: 2/5;
    grid-row: 4/5;
    grid-template-columns: repeat(2, 1fr);
}
/*--------------------------------------FOOTER----------------------------*/
footer{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    align-items: center;
    background-color: #000000;
    height: 80px;
    padding-right: 4%;
    padding-left: 4%;
    margin-top: 71px;
}
.logo-footer{
    justify-self: end;
}
.rights{
    color: white;
    font-size: 13px;
}
.logo-footer-text{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}
