body{
    font-family: 'Montserrat', sans-serif;
}
                                            /*HEADER - FIRST SCREEN*/
header{
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover ;

}
.nav-top-wrapper{
    display: flex;
    justify-content: center;
    background-color:  rgba(94, 93, 88, 0.6);
}
.wrap{
    display: flex;
    justify-content: space-between;
    width: 1160px;
}
.logo-link{
    text-decoration: none;
    color: white;
    display: flex;
}
.logo{
    background-color: #18CFAB;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 18px 13px;
}
.logo-text{
    margin-left: 6px;
    display: flex;
    align-self: center;
    font-size: 32px;
}
.logo-text-color{
    color: #18CFAB;
}
.header-link-wrapper{
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}
.header-link-item{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 28px;
}
.header-link-item:hover{
    border-bottom: 1px solid #18CFAB;
    color: #18CFAB;
    transition: 200ms;
}
.container{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-wordpress-text{
    font-size: 35px;
    font-weight: bold;
    color: white;
}
.header-wordpress-text-color{
    color: #18CFAB;
}
h1{
    font-weight: bold;
    font-size: 78px;
    color: white;
    text-transform: uppercase;
    margin: 22px auto;
}
.header-features-text{
    color: lightgray;
    font-size: 35px;
}
.text-creative-wrap{
    text-align: center;
}
.header-buttons-wrap{
    margin-top: 150px;
}
.header-btn{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 -3px 0 0 white;
}
.header-btn:first-child{
    padding: 17px 19px;
    background-color: #18CFAB;
    margin-right: 26px;
}
.header-btn:last-child{
    padding: 17px 12px;
    background-color:  #00CBF6;
}
                                        /*HEADER - FIRST SCREEN*/
                                        /*SERVICE OPTION*/
.service-option{
    display: grid;
    grid-template-columns:  repeat(4,25%);
    border-top: 8px solid white;
}
.option-link:nth-child(odd){
    background-color: #1C2A33;
    color: #18CFAB ;
}
.option-link:nth-child(even){
    background-color: #18CFAB;
    color: white ;
}
.option-link{
    text-decoration: none;
    display: block;
    text-align: center;
}
.icon{
    padding-top:95px;
    font-size: 50px;
}
.option-text{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom:110px;
    margin-top: 50px;
}
                                        /*OUR SERVICE*/
h2{
    font-size: 36px;
    text-align: center;
    margin-top: 83px;
    margin-bottom: 25px;
}
.underline{
    background-color: #18CFAB;
    width: 80px;
    height: 1px;
    border: none;
    box-shadow: 15px 5px #18CFAB;
    margin-bottom: 70px;
}
.our-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs {
    display: flex;
    margin-bottom: 27px;
}
.tabs-title {
    padding: 17px 39px 17px 40px;
    border: 1px solid #EDEFEF;
    background-color: #F8FCFE;
    color: #717171;
    cursor: pointer;
}
.tabs-title:hover{
    border: 1px solid #18CFAB;
    transition: 200ms;
}
.tabs-content{
    width: 1160px;
}
.tabs-title.active {
    background-color: #18CFAB;
    color: white;
}
.tab{
    display: none;
}
.tab.active{
    display: block;
}
.img{
    float: left;
    margin-right: 15px;
}

                                        /*PURCHASE*/
.container-purchase{
    background-image: url("../img/Sections background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    position: relative;
}
.container-purchase:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}
.inner {
    position: relative;
    z-index: 3;
    color: #fff;
    height: 476px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

}
.purchase-btn{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 -3px 0 0 white;
    padding: 17px 12px;
    background-color:  #00CBF6;
}
.text-purchase-wrap{
    display: block;
    text-align: center;
}
.text-purchase:first-child{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}
.text-purchase:last-child{
    font-size: 16px;
    color: #D8D8D8;
}
                                    /*AMAZING WORK*/
.container-amazing-work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9EDEF;
}
.amazing-tabs{
    display: flex;
    margin-bottom: 70px;
}
.amazing-tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.amazing-tabs-title{
    padding: 17px 12px;
    border: 1px solid #EDEFEF;
    background-color: #F8FCFE;
    color: #717171;
    cursor: pointer;
}
.amazing-tabs-title:hover{
    border: 1px solid #18CFAB;
    transition: 200ms;
}
.layer-wrap{
    position: relative;
}
.layer{
    background-color: #E9EDEF;
    position: absolute;
    top: 0;
    width: 284px;
    height: 206px;
    text-align: center;
    display: none;
    border-top: 1px solid #18CFAB;
}
.layer-wrap:hover .layer{
    display: block;
}
.link-wrap{
    display: flex;
    justify-content: center;
}
.shape-link{
    border: 1px solid #18CFAB;
    border-radius: 50%;
    padding: 5px;
    background-color: #18CFAB ;
    margin-top: 48px;
    margin-bottom: 27px;
}
.shape-link:last-child:hover{
    background-color: #EDEFEF;
}
.shape-link:last-child:hover .amaze-icon {
    color:#18CFAB;
}
.shape-link:first-child:hover {
    background-color: #EDEFEF;
}
.shape-link:first-child:hover .amaze-icon {
    color:#18CFAB;
}

.amaze-icon{
    color:white;
    font-size: 20px;
}
.creative-design-text{
    color: #18CFAB;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.tab-name-text{
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
}
.hide{
    display: none;
}
.btn-load-more{
    background-color: #18CFAB;
    border: none;
    border-radius: 5%;
    height: 63px;
    width: 168px;
    margin: 70px auto;
    color: white;
}
                                    /*BREAKING-NEWS*/
.container-breaking-news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.breaking-news-wrap{
    width: 1160px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(auto-fit,minmax(260px,8fr));
    grid-column-gap: 35px;
    grid-row-gap: 45px;
}
.news-link-item a{
    text-decoration: none;
}
.news-link-item{
    position: relative;
}
.news-link-item:hover .news-text-link{
    color: #18CFAB;
}
.news-link-item:hover .news-link-data{
    background-color: #18CFAB;
}
.news-link-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203E38;
    width: 70px;
    height: 70px;
}
.news-data{
    color: white;
}
.news-text-link{
    color: #717171;
    text-align: center;
}
.comment-wrap{
    display: flex;
    justify-content: space-evenly;
    color:  #777777;
    font-size: 14px;
    font-weight: 300;
    position: relative;

}
.comment-wrap:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 1px;
    background-color: #777777;

}
                                     /*WHAT PEOPLE SAY*/
.slide-container{
    background-image: url("../img/Sections background/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 855px;

}
.people-opinion-heading{
    color: white;
    padding-top: 100px;
}
.quotes{
    font-size: 30px;
    color: #18CFAB;
    text-align: center;
    margin-top: 65px;
}
.desc-text{
    color: #BBBBBB;
    font-weight: 300;
    line-height: 30px;
    margin: 37px auto;
}
.icon-name{
    color: #18CFAB;
    font-weight: bold;
}
.icon-job{
    color: #BBBBBB;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 15px;
}
.slides{
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}
.slider-for{
    margin-bottom: 40px ;
}
.nav-icon{
    outline: none;
}
.selected-icon img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.people-img{
    border: 5px solid rgba(31, 218, 181, .2);
    border-radius: 50%;
}
.slider-nav {
    width: 450px;
    margin: 0 auto;
}
.slick-arrow{
    background: rgba(0, 0, 0, 0.0001) !important;
}
.slick-prev, .slick-next{
    border: 1px solid #BBBBBB !important;
}
.slick-arrow:hover{
    background-color: #18CFAB !important;
}
.slick-prev:before {
    position: absolute;
    font-size: 15px !important;
    content: '<' !important;
    bottom: 4px !important;
    left: 4px !important;
}
.slick-next:before{
    position: absolute;
    font-size: 15px !important;
    content: '>' !important;
    bottom: 5px !important;
    right: 4px !important;
}
.nav-icon.slick-slide{
    width: 110px !important;
}

footer{
    background-color: #22353F;
}
.footer-text{
    padding: 48px;
    color: #AEAEAE;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
}
.footer-ham{
    color: #18CFAB;
    position: relative;
    margin: auto 5px;
}
.footer-ham:after{
    position: absolute;
    content: "";
    height: 15px;
    width: 1px;
    background-color: #777777;
    right: -3px;
}




